
body{
    font-family:'Garamond', sans-serif;;
    margin: 0;
    padding: 0;
    font-size: 10pt;
    

  }
  .header{
    position: relative;
    text-align: center;
    color: brown;
    font-size: 30px;
  
  }
  .logo a{
    color: brown;
  }

  .skip a{
    left:0;
    position: absolute;
    top:-30px;
    z-index:1;
    padding:5px;
    background: white;
  }

  .skip a:focus{
    top:0px;

  }

  .active{
    text-decoration: underline;
    font-weight: bold;
    font-size:18px;
    color: brown;
  }
  

  #navi li{
    color: brown;
    text-align: center;
    font-weight:bold;
    font-size: 5px;
    padding: 5px 10px;
  }

  nav a{
    color:black;
    text-align: center;
    font-weight:bold;
    font-size: 15px;
  }


#navi li a:hover{
  font-weight: bold;
  text-decoration:underline;
  text-decoration-color: burlywood;
}

#navi li a:active{
  font-weight: bold;
  text-decoration:underline;
  text-decoration-color: cornflowerblue;
  font-size: 25px;

}


main{
  display: block;
}

.about-image{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
  

}

.about-image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color:brown;

}
#logo h1{
  color: brown;
  

}
#main h1{
  color: brown;
  font-size: 25px;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}
#main p{
  color: brown;
  font-size: 15px;
  position: relative;
  text-align: center;
  margin-bottom: 20px;

}
.about-text h1{
  color:brown;
  font-size: 25px;
  position: relative;
  text-align: center;

}
.about-text p{
  color: brown;
  font-size: 30px;
  position: relative;
  text-align: center;

}

.form{
display:flex;
flex-direction: row;
margin: 10px;
padding: 10px;
justify-content: center;


}

.brand-text p{
  color: brown;
  font-size: 20px;
  position: relative;
  text-align: center;
  

}
.form-image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;


}
footer{
  color: brown;
  padding-top:10x;
  padding-bottom:10px;
  width:100%;
  font-size: 20px;
  position: relative;
  text-align: center;
  background-color: #FFFFFF;

/* css for the brands*/
}
.Gallery{
  width:100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:auto auto auto auto auto auto auto auto auto;
  grid-gap:10px;
}

div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}




@media (min-width: 600px){

#navi {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.container{
  width:100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:auto auto auto auto auto auto auto auto auto;
  grid-gap:10px;
}

.Gallery p{
  color: brown;
  font-size: 20px;
  position: relative;
  text-align: center;

}

img{
  border: 1px dashed brown;
  border-radius: 2px;
  padding: 1px;
  width: 300px;

}
main{
  background-color: #EFE7db;
}
.about-image{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
  

}

.about-image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color:brown;

}
.form-image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;


}

@media (min-width: 1020px){

  img{
    border: 1px dashed brown;
    border-radius: 2px;
    padding: 1px;
    width: 300px;
  
  }
  .container{
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:auto auto auto auto auto auto auto auto auto;
    grid-gap:10px;
  }

  .header{
    text-align:left;
    padding: 20px;

  }
  #navi{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
  }

  .about-image img{
    animation-duration: 3s;
    animation-name: slidein;

  }

  .form-image img{
    animation-duration: 3s;
    animation-name: slidein;


  }
  @keyframes slidein{
    from {
      margin-left: 100%;
      width: 50%;
    }
  
    to {
      margin-left:26%;
      width: 50%;
    }
  }
.about-text h1{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  font-size: 25px;

}
.about-text p{
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  border-bottom: 1px dashed brown;
  border-radius: 4px;
  text-decoration: bold;
}


.form-text h1{
  display: flex;
  flex-direction: row;
  justify-content:flex-start
  

}
.form-text p{
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  border-bottom: 1px dashed brown;
  border-radius: 4px;

}


.about-image h1{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  color: brown;
  font-size: 20px;
  

}
.about-image p{
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  border-bottom: 1px dashed brown;
  border-radius: 4px;

}



.Gallery{
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
}
.Gallery:hover{
  box-shadow: 0 0 5px 2px #add8e6;

}

  @media (prefers-reduced-motion: reduce) {
    slidein{
    animation: none;
    transition: none;

  }